<div class="mb-3">
  <strong class="mb-2">
    <%= comment.user.email %>
  </strong>
  <p>
    <%= comment.body %>
  </p>
</div>
 
<p>
  <%= link_to "Destroy  Comment", [comment.article, comment], 
      method: :delete,
      data: {confirm: "Are you sure?"},
      class: 'text-danger' %>
</p>

